/* css styles */
.hero {
  margin: 4;
  text-wrap: balance;
}
.hero h1 {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
}
.cta {
  color: #a50202;
  font-family: "Marck Script", cursive;
  font-size: 2rem;
  font-weight: 500;
}
.btn-cta{
  border-color: #a50202;
  background: white;
  font-size: 1.15rem;
  color: #a50202;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
}

.btn-cta:hover{
  background: #a50202;
  color: white;
}
h2 {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  border-bottom: none;
  margin: 1;
}
body {
  font-family: "Cambay", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 1;
}
footer {
  color: #212529;
  font-family: "Josefin Slab", serif;
  font-weight: 800;
  margin: 1;
}


