/* css styles */
* {
  background-color: #ffffff;

}

.hero {
  margin: 4;
  text-wrap: balance;
  color: #050404;
}

.hero h1 {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1;
  text-align: center;
}

.cta {
  color: #a50202;
  font-family: "Marck Script", cursive;
  font-size: 2.8rem;
  font-weight: 500;
}

.btn-cta {
  align-content: flex-end;
  border-color: #a50202;
  background: #ffffff;
  font-size: 1.1rem;
  color: #a50202;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.btn-cta:hover {
  background: #a50202;
  color: #ffffff;
}

.anchorjs-link {
  text-decoration-color: #a50202;
  color: #a50202;
}

.nav-link p {
  color: #050404;
  font-family: "Josefin Slab", serif;
  font-weight: 800;
  margin: 1;
}

.nav-link:hover p {
  color: #a50202;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
}

.grid-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  text-align: left;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, 
              rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, 
              rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.testimonials h2 {
  text-align: center;
  color: #050404;
}


.blockquote {
  font-family: "Cambay", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #050404;
  border-left: none;
}

.blockquote> :last-child {
  margin-bottom: 0;
}

.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #494a4b;
  font-family: "Cambay", sans-serif;
}

/* .blockquote-footer::before {
  content: "— ";
} */

.cite {
  color: #a4a5a5;
  font-family: "Cambay", sans-serif;
}

.mb-0 {
  margin-bottom: 0 !important;
}

h2 {
  font-family: "Josefin Slab", serif;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: none;
  margin: 1;
  color: #050404;
}

body {
  font-family: "Cambay", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 1;
  color: #050404;
}